@mixin display-config($justify, $align, $direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin font-config($size, $weight, $color, $family) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: $family;
}

.expanded {
    letter-spacing: 1px;
    background-color: white;
    border-radius: 20px;
    height: 50vh;
    width: 100%;
    @include font-config(20px, bold, #AAAAAA, "roboto");
    @include display-config(space-between, flex-start, column);

    &-head {
        margin-left: 2rem;
        margin-top: 2rem;
        color: black;
    }

    &-profile {
        margin-left: 2rem;
        font-size: 15px !important;
        height: 80%;
        width: 95%;

        &-update {
            @include display-config(space-between, center, row);
            width: 50%;
            img {
                border-radius: 50%;
            }

            button {
                @include font-config(13px, bold,#6F4AD2, "roboto");
                outline: none;
                border: none;
                border-radius: 30px;
                background: none;
                letter-spacing: 0.5px;
                border: 1.6px solid #6F4AD2;
                padding: 6px 20px;
                color: #6F4AD2;
            }

            p {
                color: #6F4AD2;
            }
        }

        &-form {
            @include display-config(flex-start, center, row);
            margin-top: 5%;
            width: 100%;

            &-field {
                width: 100%;

                input {
                    @include font-config(15px, bold, black, "roboto");
                    height: 5vh;
                    padding-left: 15px;
                    background-color: transparent;
                    border-radius: 5px;
                    border: 2px solid #AAAAAA;
                    width: 85%;
                    margin-top: 8px;
                }
            }
        }

        .save-button {
            background-color: #6F4AD2;
            color: white;
            outline: none;
            border-radius: 5px;
            padding: 12px 30px;
            letter-spacing: 1px;
            border: none;
            float: right;
            margin-right: 2.01rem;
            margin-top: 2rem;
            @include font-config(15px, bold, white, "roboto");
        }
    }
}